<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserData</title>
    <link rel="stylesheet" href="/public/loginRegistration/userinfo.css">
</head>

<body>
    <div class="container">
        <button id="logout">Logout</button>
        <div class="userinfo">
            <p class="fname"><span>First Name : </span>
                <%= user.fname %>
            </p>
            <p class="fname"><span>Last Name : </span>
                <%= user.lname %>
            </p>
            <p class="fname"><span>Date of Birth : </span>
                <%= user.dob %>
            </p>
            <p class="fname"><span>Designation : </span>
                <%= user.designation %>
            </p>
            <p class="fname"><span>Email: </span>
                <%= user.email %>
            </p>
        </div>

        <div class="btns">
            <p><a target="_blank" href="/delimeter">Delimiter Search</a></p>
            <p><a target="_blank" href="/jobapp">Create AJAX</a></p>
            <p><a target="_blank" href="/jobapp/users">Update AJAX</a></p>
            <p><a target="_blank" href="/pagination">Pagination Task</a></p>
            <p><a target="_blank" href="/spa/posts">jsonplaceholder API</a></p>
            <p><a target="_blank" href="/jstasks/kukukube">kukukube</a></p>
            <p><a target="_blank" href="/jstasks/addrowcol">dynamic table</a></p>
            <p><a target="_blank" href="/jstasks/tic-tac-toe">tic-tac-toe</a></p>
            <p><a target="_blank" href="/updateData">Create</a></p>
            <p><a target="_blank" href="/updateData/users">Update</a></p>
            <p><a target="_blank" href="/task27">Exam Result</a></p>
            <p><a target="_blank" href="/jstasks/allevents">JS-Events</a></p>
        </div>
    </div>


    <script>


        async function isLoggedIn(){
            let user = await fetch('/media/current-user',{
                method:"GET",
                headers:{
                "Content-Type":"application/json"
                }
            })

            user = await user.json(); 
            console.log(user)
            if(!user?.success){
                window.location = "/media/login"
            }
        }

        isLoggedIn();



        let logout = document.getElementById('logout');

        logout.addEventListener("click", async (e) => {
            e.preventDefault();
            localStorage.removeItem('token')
            let data = await fetch("/media/logout", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })

            data = await data.json();

            if (data.success) {
                window.location = "/media/login"
            }
        });
    </script>
</body>

</html>