<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="container">
        <table border="1">
            <tr class="header">
                <td>SID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>PhoneNo</td>
                <td>City</td>
                <td>State</td>
                <td>pincode</td>
                <td>gender</td>
                <td>father contact</td>
                <td>Address</td>
                <td>Passing Year</td>
            </tr>

        <% students.map((student) => { %>
            <tr>
                <td><%= student.sid %></td>
                <td><%= student.fname %></td>
                <td><%= student.lname %></td>
                <td><%= student.age %></td>
                <td><%= student.phoneNo %></td>
                <td><%= student.city %></td>
                <td><%= student.state %></td>
                <td><%= student.pincode %></td>
                <td><%= student.gender %></td>
                <td><%= student.fatherPhoneNo %></td>
                <td><%= student.currentAddress %></td>
                <td><%= student.passingYear %></td>
            </tr>
        <% }) %>
        </table>
        <div class="page-value">
            <div class="pagination">
                <button class="<%= page<=1 ? 'btn disable':"btn" %>">
                    <a class="<%= page<=1 ? 'disable':"" %>" href="/user/?page=1">&lt;&lt;</a>
                </button>

                <button class="<%= page<=1 ? 'btn disable':"btn" %>">
                    <a class="<%= page<=1 ? 'disable':"" %>" href="/user/?page=<%= page-1 > 0 ? page -1 : 1%>">&lt;</a>
                </button>

                <p class="pg-num"><span id="page"><%= page %></span></p>

                <button class="<%= page>=lastPage ? 'btn disable':"btn" %>">
                    <a class="<%= page>= lastPage ? 'disable':"" %>" href="/user/?page=<%= page+1 <= lastPage ? page+1 : lastPage %>">&gt;</a>
                </button>

                <button class="<%= page>=lastPage ? 'btn disable':"btn" %>">
                    <a class="<%= page>= lastPage ? 'disable':"" %>" href="/user/?page=<%= lastPage %>">&gt;&gt;</a>
                </button>
            </div>
        </div>
    </div>
</body>
</html>