<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/public/task-27-06/style.css">
</head>
<body>
    <div class="container">

        <table border="1">
            <tr class="header">
                <td rowspan="2">SID</td>
                <td rowspan="2">Name</td>
                <td  colspan="2">Prelim</td>
                <td  colspan="2">Terminal</td>
                <td  colspan="2">Final</td>
                <td rowspan="2">Total obtained from 1200</td>
                <td rowspan="2">View</td>
            </tr>
            <tr class="header">
                <td>Practical</td>
                <td>Theory</td>
                <td>Practical</td>
                <td>Theory</td>
                <td>Practical</td>
                <td>Theory</td>

               
            </tr>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.sid %></td>
                    <td><%= student.name %></td>
                    <td><%= student.prelim[0]  %></td>
                    <td><%= student.prelim[1] %></td>
                    <td><%= student.terminal[0] %></td>
                    <td><%= student.terminal[1] %></td>
                    <td><%= student.final[0] %></td>
                    <td><%= student.final[1] %></td>
                    <td><%= Number(student.prelim[0]) + Number(student.prelim[1])+ Number(student.terminal[0])+ Number(student.terminal[1])+ Number(student.final[0])+ Number(student.final[1])%></td>
                    <td><a href="/task27/result/<%= student.sid %>">View</a></td>
                </tr>
            <% }) %>
      
        </table>


        <div class="data">
            <p>showing <%= offsetValue+1 +" to "+ Number(offsetValue+recordShown) %> of <%= totalRecord %> Records on Page <%= page  %></p>
        </div>


        <div class="page-value">
            <div class="pagination">
                    <a class="<%= page<=1 ? 'disable btn':"btn" %>" href="/task27/result/?page=1">&lt;&lt;</a>

                    <a class="<%= page<=1 ? 'btn disable':"btn" %>" href="/task27/result/?page=<%= page-1 > 0 ? page -1 : 1%>">&lt;</a>

                <p class="pg-num"><span id="page"><%= page %></span></p>

                    <a class="<%= page>= lastPage ? 'btn disable':"btn" %>" href="/task27/result/?page=<%= page+1 <= lastPage ? page+1 : lastPage %>">&gt;</a>

                    <a class="<%= page>= lastPage ? 'btn disable':"btn" %>" href="/task27/result/?page=<%= lastPage %>">&gt;&gt;</a>
            </div>
        </div>
    </div>


</body>
</html>